<div id="dashboardcards">
    <div id="card">
        <div id="card-priority">
            <p id="priority">High Priority</p>
        </div>
        <p id="task-heading">Normalax Ui/Ux Test</p>
        <div id="profiles">
            <div id="profile">
                <img src="" alt="">
            </div>
            <div id="profile">
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div id="card">
        <div id="card-priority">
            <p id="priority">High Priority</p>
        </div>
        <p id="task-heading">Normalax Ui/Ux Test</p>
        <div id="profiles">
            <div id="profile">
                <img src="" alt="">
            </div>
            <div id="profile">
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div id="card">
        <div id="card-priority">
            <p id="priority">Medium Priority</p>
        </div>
        <p id="task-heading">Normalax Ui/Ux Test</p>
        <div id="profiles">
            <div id="profile">
                <img src="" alt="">
            </div>
            <div id="profile">
                <img src="" alt="">
            </div>
        </div>
    </div>
</div>