<div id="dashboardcards">
    <div id="card">
        <div id="card-priority">
            <p id="priority">High Priority</p>
        </div>
        <p id="task-heading">Normalax Ui/Ux</p>
        <p id="task-description">This is a sample task description.</p>
        <div id="profiles">
            <div id="profile">
                <img src="assets/img.png" alt="">
            </div>
            <div id="profile">
                <img src="assets/img.png" alt="">
            </div>
        </div>
        <progress id="progress" value="70" max="100">70%</progress>
    </div>
    <div id="card">
        <div id="card-priority">
            <p id="priority">High Priority</p>
        </div>
        <p id="task-heading">Normalax Ui/Ux</p>
        <p id="task-description">This is a sample task description.</p>
        <div id="profiles">
            <div id="profile">
                <img src="assets/img.png" alt="">
            </div>
            <div id="profile">
                <img src="assets/img.png" alt="">
            </div>
        </div>
        <progress id="progress" value="70" max="100">70%</progress>
    </div>
    <div id="card">
        <div id="card-priority">
            <p id="priority">Medium Priority</p>
        </div>
        <p id="task-heading">Normalax Ui/Ux</p>
        <p id="task-description">This is a sample task description.</p>
        <div id="profiles">
            <div id="profile">
                <img src="assets/img.png" alt="">
            </div>
            <div id="profile">
                <img src="assets/img.png" alt="">
            </div>
        </div>
        <progress id="progress" value="70" max="100">70%</progress>
    </div>
</div>