#c-nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    display: var(--nav-display);
    flex-direction: var(--nav-flex-direction);
    justify-content: var(--nav-justify-content);
    align-items: var(--nav-align-items);
    padding: var(--nav-padding);
    gap: var(--nav-gap);
    height: var(--nav-height);
    width: var(--nav-width);
    background-color: var(--nav-bg-color);
}

#nav-item {
    display: var(--nav-item-display);
    flex-direction: var(--nav-item-flex-direction);
    align-items: var(--nav-item-align-items);
    gap: var(--nav-item-gap);
    background-color: var(--nav-bg-color);
}

#nav-item i {
    color: var(--nav-icon-color);
    font-size: var(--icon-size);
}

#nav-item:hover i {
    color: var(--nav-icon-hover-color);
    font-size: var(--icon-size);
}

#nav-item span {
    color: var(--nav-text-color);
}

#nav-item:hover span {
    color: var(--nav-text-hover-color);
}

#nav-addtask {
    background-color: var(--nav-addtask-bg-color);
    box-shadow: var(--nav-addtask-box-shadow);
    width: var(--nav-addtask-width);
    height: var(--nav-addtask-height);
    border-radius: var(--nav-addtask-border-radius);
    display: var(--nav-addtask-display);
    flex-direction: var(--nav-addtask-flex-direction);
    align-items: var(--nav-addtask-align-items);
    justify-content: var(--nav-addtask-justify-content);
    transform: var(--nav-addtask-transform);
}

#addtask-button {
    display: var(--nav-addtask-button-display);
    flex-direction: var(--nav-addtask-button-flex-direction);
    align-items: var(--nav-addtask-button-align-items);
    justify-content: var(--nav-addtask-button-justify-content);
    background-color: var(--nav-addtask-button-bg-color);
    color: var(--nav-addtask-button-icon-color);
    width: var(--nav-addtask-button-width);
    height: var(--nav-addtask-button-height);
    border-radius: var(--nav-addtask-button-border-radius);
}

#addtask-button:hover {
    background-color: var(--nav-addtask-button-hover-bg-color);
}

#addtask-button i {
    color: var(--nav-addtask-button-icon-color);
    font-size: var(--icon-size);
}

