#dashboard {
    color: var(--text-color);
    font-family: var(--font-family);
    min-height: 100vh;
    padding: 0px 10px;
    background: linear-gradient(180deg, #00a2ff3f 20%, #fdfdfd 100%);
    box-sizing: border-box;
    overflow-x: hidden;
}

#chart {
  padding: 0;
  max-width: 150px;
}

#dashboard-analytics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    gap: 30px;
}

#tasks-analytics {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 4px;
}

#task-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    margin: 0;
}

#task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 0;
}

#task i {
  font-size: 8px;
  color: var(--text-color);
}
#task p {
  margin: 0;
  font-size: 12px;
}
#task span {
  font-size: 8px;
  color: var(--text-color);
}