#dashboard {
    color: var(--text-color);
    font-family: var(--font-family);
    min-height: 100vh;
    padding: 0px 10px;
    background: linear-gradient(180deg, #f4f8ff 0%, #f7f7fb 100%);
    box-sizing: border-box;
    overflow-x: hidden;
}

#chart {
  padding: 0;
  max-width: 150px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#tasks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
