* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    --font-family: 'Nunito', sans-serif;
    --text-color: #333;

    --icon-button-bg-color: #ffffff;
    --icon-button-width: 40px;
    --icon-button-height: 40px;
    --icon-button-border-radius: 50%;
    --icon-button-display: flex;
    --icon-button-flex-direction: column;
    --icon-button-align-items: center;
    --icon-button-justify-content: center;
    --icon-button-hover-bg-color: #97bdce;

    
}