:root {

    --nav-display: flex;
    --nav-flex-direction: row;
    --nav-justify-content: space-evenly;
    --nav-align-items: center;
    --nav-padding: 10px 10px;
    --nav-gap: 0px;
    --nav-height: 60px;
    --nav-width: 100%;
    --nav-bg-color: #ffffff1a;
    --nav-item-display: flex;
    --nav-item-flex-direction: column;
    --nav-item-align-items: center;
    --nav-item-gap: 5px;
    --nav-bg-color: #ffffff1c;
    --nav-text-color: #000000;
    --nav-text-hover-color: #ff0000;
    --nav-icon-color: #03a3ff;
    --nav-icon-hover-color: #ff1100;
    --nav-addtask-bg-color: #03a3ff;
    --nav-addtask-button-bg-color: #03a3ff;
    --nav-addtask-button-hover-bg-color: #ff1100;
    --nav-addtask-button-icon-color: #ffffff;

}